@charset "UTF-8";
/*
Modified By: Alan Hernandez
Date Started: December 07, 2023
*/

/*Main Attributes*/
main#jdom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 650px;
	margin: 0 auto;
	padding: 15px 25px;	
	border: 3px solid blue;
}

/*Main Body Attributes*/
main body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 20px;
	width: 550px;
	border: 3px solid blue;
}

/*Attributes for the main elements'h1', 'h2', 'ul', & 'p'*/
main h1, h2, ul, p {
	margin: 0;
	padding: 0;
}

/*General 'h1' Heading Attributes*/
main h1 {
	padding-bottom: .25em;
}

/*General 'h2' Heading Attributes*/
main h2 {
	font-size: 120%;
	padding: .5em 0 .25em;
}

/*General 'li' Attributes*/
main li {
	padding-right: 10px;
	display: inline;
}

/*General 'a' Attributes*/
main a {
	position: relative;
}